@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    background: #000;
    color: #fff;
    font-family: "Inter", serif;
    padding: 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
    width: 60%;
    max-width: 900px;
    margin-top: 25vh;
}

#col-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#col-left img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

#col-right {
    width: 80%;
    padding-left: 1em;
}

h1, h2, h3, h4 {
    font-family: "Figtree", serif;
}

.linkholder {
    display: flex;
    flex-wrap: wrap;
}

.linkholder a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.linkholder a:hover {
    text-decoration: underline;
}

.linkholder a i {
    font-size: 1.5em;
    margin-right: 0.25em;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    #col-left {
        width: 100%;
        justify-content: center;
        margin-bottom: 1em;
    }

    #col-right {
        width: 100%;
        padding-left: 0;
    }
    body {
        overflow-y: scroll;
    }
    .wave {
        display: none;
    }
    .container {
        margin-top: 0;
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
 }

 .ocean {
    height: 8%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
  }


 .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    opacity: 70%;
    width: 6400px;
    top: -5vw;
    left: 0;
    height: 198px;
    transform: translate(0, 0, 0);
    animation: wave 7s ease infinite;
    filter: hue-rotate(-130deg);
  }
  
  .wave:nth-of-type(2) {
    top: -7vw;
    animation: swell 4s ease infinite;
    opacity: 30%;
  }

  .slide {
    animation: fadeSlideUp 2s ease-out forwards;
  }
  
  @keyframes wave {
    0% { margin-left: 0; }
    100% { margin-left: -1600px;}
  }
  @keyframes swell {
    0%, 100% {
      transform: translate(0, -30px);
    }
    50% {
      transform: translate(0, 5px);
    }
  }
@keyframes fadeSlideUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.custom-cursor, .custom-cursor-click {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.custom-cursor {
    width: 1.1em;
    height: 1.1em;
    border: 2px solid var(--cursor-border-color);
    transition: transform 0.15s ease, background-color 0.15s ease;
}

.custom-cursor-click {
    width: 40px;
    height: 40px;
    background-color: var(--cursor-click-background-color);
    transition: transform 0.05s ease-out;
}

* {
    cursor: none; 
  }


  :root {
    --cursor-border-color: #ca7724;
    --cursor-click-background-color: rgba(155, 109, 45, 0.5);
    --scrollbar-thumb-color: #bb7a35;
    --scrollbar-track-color: #3e3631;
  }

  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}